.account__container {
    min-width: 25vw;
    flex: 1 1 25vw;
}

.account__pet {
    margin-bottom: 35px;
}

.account__btn {
    font-size: 1.7rem;
    line-height: 53px;
    min-width: 45%;
}

.account__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.account__close-btn {
    display: none;
}