.page-main__container {
    display: flex;
    gap: 8vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*.page-main__account {
    min-width: 25vw;
    border: 1px solid red;
}

.page-main__task-manager {
    min-width: 25vw;
    border: 1px solid red;
}

.page-main__timer {
    min-width: 25vw;
    border: 1px solid red;
}
*/
