.pet {
    background-color: var(--white-2);
    border: 2px solid var(--black);
    border-radius: 40px;
    padding: 28px 55px;
}

.pet__container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.pet__food {
    font-size: 1.4rem;
    font-weight: 300;
}

.pet__feed-button {
    color: var(--grey-1);
    font-size: 2rem;
    line-height: 2.62rem;
    padding: 10px 0;
}

.pet__img-block {
    display: flex;
    justify-content: center;
}