.tasks__title,
.tasks__btn {
    font-size: 40px;
    line-height: 53px;
    text-align: center;
}

.tasks__item {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    border: 1px solid var(--black);
    border-radius: 20px;
}

.tasks__item_selected {
    background-color: var(--pink);
}

.tasks__remove-btn {
    background-color: transparent;
    background-image: url('../images/remove-icon.png');
    width: 46px;
    height: 46px;
    border: none;
}