.timer-page__container {
    min-width: 25vw;
    flex: 1 1 25vw;
}

.timer-page__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.timer-page__button {
    min-width: 46px;
    min-height: 46px;
    border: none;
    background: none;
    background-repeat: no-repeat;
}

.timer-page__button_profile {
    background-image: url('../images/profile-icon.png');
}

.timer-page__button_menu {
    background-image: url('../images/menu-icon.png');
}
