.timer {
    background-color: var(--pink );
    border: 3px solid var(--black);
    border-radius: 40px;
    padding: 32px 50px;
    box-sizing: border-box;
}

.timer__block {
    background-color: var(--white-2);
    border-radius: 30px;
    padding: 20px 35px;
}

.timer__container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.timer__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 53px;
    text-align: center;
}

.timer__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.timer__preset-btn {
    flex-basis: 115px;
    font-size: 1rem;
    line-height: 32px;
}

.timer__time-view {
    font-size: 2.7rem;
    line-height: 84px;
    text-align: center;
    margin-bottom: 30px;
}

.timer__indicators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timer__item {
    color: var(--grey-1);
    font-size: 1rem;
    line-height: 32px;
    font-weight: 300;
}

.timer__start-btn,
.timer__pause-btn {
    font-size: 1.7rem;
    line-height: 53px;
    text-transform: uppercase;
    border: 2px solid var(--black);
}

.timer__pause-btn {
    display: none;
    background-color: var(--red);
}

