.user__caption {
    color: var(--grey-1);
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
}

.user__text {
    color: var(--black);
    font-weight: 300;
    font-size: 30px;
    background-color: var(--grey-2);
}
